<app-top-navigation></app-top-navigation>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="mr-2">
        <button mat-button (click)="sidenav.toggle()" class="float-right"><< Filters</button>
        <div class="pl-4 pt-2">
            <app-families-selector></app-families-selector>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="m-4">
        <div class="pb-4">
            <button mat-button routerLink="/plants/create">Add Plant</button>
            <button mat-button (click)="sidenav.toggle()"> Filters >></button>
        </div>

        <app-create-form></app-create-form>
    </mat-sidenav-content>

</mat-sidenav-container>

