<app-top-navigation></app-top-navigation>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="mr-2">
        <button mat-button (click)="sidenav.toggle()" class="float-right"><< Filters</button>
        <div class="pl-4 pt-2">
            <app-season-selector class="season-selector"></app-season-selector>
            <app-watering-selector class="watering-selector"></app-watering-selector>
            <app-species-selector class="species-selector"></app-species-selector>
            <app-climate-selector class="climate-selector"></app-climate-selector>
            <app-location-selector class="location-selector"></app-location-selector>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="m-4">
        <div class="pb-4">
            <button mat-button routerLink="/plants/create">Add Plant</button>
            <button mat-button (click)="sidenav.toggle()"> Filters >></button>
        </div>

        <app-listing-section></app-listing-section>
    </mat-sidenav-content>

</mat-sidenav-container>
